.Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
}
.clients{
    padding:2rem;
    display: flex;
    align-items: center;
    
    justify-content:space-between;

    
}
.logoimg{
    width: 30px;
}


.leftsection{
    display: flex;
    gap: 1.3rem;
    

}
.trust{
    font-size: 1.9rem;
    font-weight: 700;
}
.rightsection{
    border-radius: 0.5rem;
    text-align: center;
    overflow: hidden;
   
}
.whatsappbtn{
    padding: 1rem;
    border: none;
    
    background-color:  rgb(61, 104, 164);
    color: white;
    font-size: 1.2rem;
    

}
.imagesClients{
    padding: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.imagelist{
    width: 210px;
}

@media(max-width:740px){

    .imagesClients{
        padding:1rem;
    

    }
    .imagelist{
        width: 100px;
    }
    .whatsappbtn{
        padding: 0.3rem;
        
        font-size: 1rem;
        
    
    }
    .trust{
        font-size: 1.2rem;
    }


}
@media(max-width:440px){

    .imagesClients{
        display: grid;
grid-template-columns: repeat(2,100px);    

    }
    .left-section{

        gap: 1rem;
    }
    .logoimg{
        width: 20px;
    }
    
    .trust{
        font-size: 1rem;
    }


}