.list-W-main {
    color: black;
    display: grid;
    gap: 4rem 6rem;
    grid-template-columns: repeat(4,270px); /* 4 items per row */
    grid-template-rows: auto auto; /* Two rows */
    font-family: "Barlow", serif;
  }
  
  .W-container {
    /* display: flex; */
  
    display: grid;
    position: relative;
  
   /* justify-content: center; */
    padding: 1rem;
  place-items: center;
    align-items: center;
  border-radius: 0.7rem;
    gap: 0.8rem;
    /* color: gray; */
    background-color: white;
    box-shadow: 2px 2px 13px rgba(169, 159, 159, 0.471);
  }

  
  
  
  
    
    .W-container:hover .paraCircle{
      color: white;
      
    }
     
  
  
  
  
  
  .work-head {
    font-size: 2rem;
    font-weight: 600;
  }
  .work-para {
  color: rgba(137, 135, 135, 0.72);
  text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    /* line-height: 1.2; */
  
  }
  .W-container:hover .service-para{
    color: white;
  }
  
  
  
  
  
  
  
  
  .icon-W-container {
    position: relative;
    
    transform: translate(-120px,-37px);
    display: flex;
    justify-content: center;
    background-color:  rgb(61, 104, 164);
    border-radius: 50%;
    
  
    width: 50px;
    /* color: white; */
    height: 50px;
    align-items: center;
  }
  .paraCircle{
    color: white;
    font-weight: 800;
    z-index: 100;
  }
  
  
  
  @media (max-width: 768px) {
    .list-main {
      flex-direction: column;
      align-items: center;
    }
  }
  