.testimonial-section{
    background-size: cover;
    background-position: center;
    padding: 10rem  0;
    position: relative;
    display: flex;
    
    background-repeat: no-repeat;
font-family: "Barlow",sans-serif;

}
.testimonial-section::before{
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 13, 32, 0.869);
  }
  .testimonial-main{
display: flex;
/* flex: 1; */
align-items: center;
padding: 5rem 9rem;

position: relative;



  }

  .test-logo{
    display: flex;
    gap: 1rem;
  }


  .left-test{
    background: none;
    position: absolute;
    top: -6rem;

    z-index:2;
  }
  .test-title {
    font-size: 1rem;
    color: rgb(61, 104, 164);
  }
  
  .test-heading {
   line-height: 1.25;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    padding: 1.4rem 0;
  }
  
  .span-test {
    color: rgb(61, 104, 164);
    z-index: 3;
  }
  .left-para{
    color: white;
    font-size:0.9rem ;
    /* padding: 1rem 0; */
    width: 250px;
    margin-bottom: 1rem;
  }
  
  .test-btn1 {
    padding: 0.6rem;
    border-radius: 0.4rem;
    color: white;
    background-color: rgb(61, 104, 164);
    border: none;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
    overflow: hidden;
    transition: color 0.4s ease;
  }
  .test-btn1:hover {
    background-size: 100% 100%;
    background-color: rgb(1, 2, 43);
  }
  /* .right-test{
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    padding: 3rem 6rem ;
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 42%;
    left: 47%;

  } */
  @media  (max-width:930px){
    .test-heading {
      line-height: 1.25;
       font-size: 1rem;
      
     }
    
  }
  @media  (max-width:800px){
    
    .test-title {
      font-size: 0.8rem;
    }
    
    .test-heading {
      font-size: 0.7rem;
      
      padding: 1.2rem 0;
    }
    
    
    .left-para{
      font-size:0.6rem ;
      /* padding: 1rem 0; */
      width: 150px;
    }
    
    .test-btn1 {
      
      font-size: 0.7rem;
      
    }
    .left-test{
     left:2rem
    }
   
    
  }
  @media  (max-width:550px){
    
    .test-title {
      font-size: 01rem;
    }
    
    .test-heading {
      font-size: 0.9rem;
      
      padding: 1.2rem 0;
    }
    
    
    .left-para{
      font-size:0.9rem ;
      /* padding: 1rem 0; */
      width: 200px;
    }
    
    .test-btn1 {
      
      font-size: 0.7rem;
      
    }
    .left-test{
      left: 1rem;
    }
    
  }