.card-slider-container {
  
position: absolute;
top: -2.8rem;
right: 16rem;
font-family: "Barlow",sans-serif;
  margin: 0 auto;
}



.card img {
  width: 60px;
  height: 60px;
  
  border-radius: 50%;
}

.card h3 {
  margin: 5px 0;
  font-size: 18px;
}

.first-par{
  font-size:1.1rem;
  text-align: center;
  
  /* color: #555; */
}

.first-par{
  color: rgba(54, 52, 52, 0.952);
}

.side-info{
  font-size: 0.8rem;
  color: rgb(61, 104, 164);
}
.swiper{
  /* position: absolute; */
  border-radius: 8px;
  overflow: hidden;
  padding:  1.3rem 1rem;
  /* width: 100px; */
  text-align: center;
  background-color: #fff;
  width: 300px;
  /* text-align: left; */
}
.swiper-pagination{
text-align: left;
padding: 0 2rem;



}
.imageINFO{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1.2rem;
padding: 1rem ;
}

@media(max-width:1368px){
  .card-slider-container {
  
    top: -2.8rem;
    right: 7rem;
      margin: 0 auto;
    }


}
@media(max-width:768px){
  .card-slider-container {
  
    top: -3rem;
    right: 4rem;
    }


}
@media(max-width:658px){
  .card-slider-container {
  justify-content: center;
    top: 6.9rem;
    left: -12rem;
    /* right: 15rem; */
    }
  
  .first-par{
    font-size:0.6rem;
    
  }
  
 
  .side-info{
    font-size: 0.6rem;
  }


}
@media(max-width:594px){
  .card-slider-container {
  justify-content: center;
    top: 6.9rem;
      left:-3rem;
    }
  
  

}
@media(max-width:458px){
  .card-slider-container {
  justify-content: center;
    top: 7rem;
      left: 1rem;
    }
  
  

}
